<div class="row col-12" data-index="{{ index }}">
    <div class="col-5">{{ form_widget(form.wordListLeft) }}</div>
    <div class="offset-1 col-5">{{ form_widget(form.wordListRight) }}</div>
    <div class="col-1"><button type="button" class="btn btn-warning js-synonym-remove">[X]</button></div>
</div>


